/**
 * @name CleanSC
 * @author scrimson#9801
 * @description A theme clean to make things more calm.
 * @version 2.0
 */

.scrollableContainer-15eg7h {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(13, 13, 13);
    max-height: 50vh;
    border-radius: 32px;
    scrollbar-width: none;
}

.barButtonMain-2GIx4o, .span-3lFnWr {
    background-color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.barButtonAlt-TQoCdZ {
    background-color: black;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 600;
    position: relative;
}

.container-2cd8Mz {
  background-color: rgb(10, 10, 10) !important;
}

.theme-dark {
    --background-primary: rgb(10, 10, 10) !important;
    --background-secondary: rgb(10, 10, 10) !important;
    --background-secondary-alt: rgb(10, 10, 10) !important;
    --background-tertiary: rgb(10, 10, 10) !important;
}

.root-22AK9z {
    background-color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
}


.note-Go5ZP2, .bodyTitle-2Az3VQ, .textarea-_59yqs,
.footer-3naVBw, .headerTop-3GPUSF, .body-2wLx-E, .bodyInnerWrapper-2bQs1k, 
.infoScroller-1QMpon, .topSection-13QKHs, .listScroller-entkMk
  {
    background-color: rgb(10, 10, 10);
}

.item-1OdjEX {
    background-color: rgb(13, 13, 13);
}

.scroller-1bVxF5 {
    background-color: rgb(13, 13, 13);
}

.link-39sEB3 {
    background-color: rgb(13, 13, 13);
    border-radius: 64px;
}

.panels-3wFtMD {
    background-color: rgb(13, 13, 13);
    border-radius: 32px;
}

.interactive-1vLZ_I {
    background-color: rgb(10, 10, 10);
}

.interactiveSelected-29CP8y {
    background-color: rgb(10, 10, 10);
}

.interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-hover) black;
}

.themed-2-lozF {
    background-color: rgb(13, 13, 13);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: rgb(13, 13, 13);
}

.mainContent-20q_Hp:hover {
    background-color: rgb(44, 82, 47);
}
.mainContent-20q_Hp {
    background-color: rgb(13, 13, 13);
    border-radius: 64px;
    padding: 4px;
}

.mainContent-20q_Hp:hover::before {
    background-color: darkgreen;
    border-radius: 64px;
}

.content-1gYQeQ {
    background-color: rgb(13, 13, 13)!important;
    border-radius: 64px;
}

.iconVisibility-vptxma {
    background-color: rgb(10, 10, 10);
}

.modeSelected-3DmyhH {
    background-color: darkgreen;
    border-radius: 64px;
    padding-right: 0px;
    padding-left: 0px;
}

.header-3OsQeK {
    background-color: rgb(13, 13, 13);
    border-radius: 64px;
}

.container-1-ERn5 {
    background-color: rgb(13, 13, 13) !important;
    border-radius: 64px;
}
